.step::before {
  position: absolute;
  
  content: attr(data-pos);
  background-color: hsl(var(--nextra-primary-hue)100% 97%/var(--tw-bg-opacity));
  color: hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity));
}

.step {
  padding-left: 2rem;
}