@use "./base.scss";

// put your custom CSS here!
// Wikilinks styles
article {
    a.wiki-link {
        padding: 0.125rem 0.5rem;
        
        &::before {
            content: "[[";
            margin-right: 1ch;
            display: inline-block;
        }
        &::after {
            content: "]]";
            margin-left: 1ch;
            display: inline-block;
        }
    }
    a.tag-link {
        &::before {
            content: "#";
            display: inline-block;
        }
        &::after {
            content: "";
        }
    }
    a[data-footnote-ref],
    a[data-footnote-backref] {
        background: unset;
    }
}

// Hide the first H1 which is duplicated as the page title
article > h1:first-of-type {
    display: none;
}

// Override the hyphens settings in Quartz (excluding .katex and .math)
article {
    p,
    ul,
    text,
    a,
    tr,
    td,
    li,
    ol,
    u {
        hyphens: unset;
    }
}

// Styling the headers
article {
    h1{
        letter-spacing: 0.075rem; 
    }
    h2 {
        letter-spacing: 0.125rem; 
    }
}
.page-header h1 {
    letter-spacing: 0.075rem; 
}

// Explorer
#explorer-content {
    ul > li ul {
        li {
            line-height: 1.5rem;
        }
        li + li {
            margin-top: 0.5rem;
        }
    }
}